/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}

/*--------------------*/
.bg1{background-color: #E7EDFB;}
.bg20{background-color: #E7EDFB;}
.bg3{background-color: #E7EDFB;}
.bg4{background-color: #F9FAFE;}
.bg0{background-color: #F8F8F8;}


html{
    --mw: 1440px;
    --fs: 18px;
}

body{
    font-family: 'Ubuntu', sans-serif;
}

.container{
    width: 100%;
}

/*TOP TITLE*/
.top_title{
    display: flex;
    flex-direction: row;
    height: 80px;
    max-width: 1000px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    margin-right: 230px;
    margin-left: auto;
    align-items: center;
    justify-content: space-between;
    
}
#top_title_phone{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 25px;
    text-align: right;
    color: #3E41DE;
}
.top_title a:hover{
    color: #3E41DE;
}
.top_title a:active{
    color: #333333;
}
.top_title a{
    color: #4A4F53;
 }


/*NAVBAR*/
nav{
    max-width: var(--mw);  
    margin: auto;
    padding-top: 38px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-link,
#search_link{
    color: #3E41DE;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: var(--fs);
    line-height: 38px;
    text-transform: uppercase;
    
}
#search_link{
    width:145px;
    text-align: right;
}
.bg1{
    margin: 0;
    background-color: #E7EDFB;
}
#nav_logo{
    width: 256px;
}
nav a{
	position: relative;
	cursor: pointer;
	line-height: 1; /*задаём высоту строки*/
	text-decoration: none; /*убираем подчёркивание*/
}
nav a:after {
	display: block;
	position: absolute;
	left: 0; 
	width: 0;
	height: 2px; 
	background-color: #3E41DE; /*задаём цвет линии*/
	content: "";
	transition: width 0.3s ease-out; /*задаём время анимации*/
}
nav a:hover:after,
nav a:focus:after {
	width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}
nav a:active::after{
    background-color: #4A4F53;
}
nav a:active {
    color:#4A4F53 ;
    
}


/*SUB NAVBAR*/
.subNav{
    max-width: var(--mw);  
    padding-top: 54px;
    padding-bottom: 28px;
    margin: auto;
    display: flex;
    flex-direction: row;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #A4ABB1;
}
#subNav_item1::after{
    content: "-";
}
#subNav_item2::after{
    content: "-";
}

/*PRICE*/
.price{
    max-width: var(--mw);
    padding: 50px 0 60px 0;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: max-content 1fr;
}
.price_title{
    grid-column:1/2;
    grid-row:1/2;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 42px;
    color: #4A4F53;   
    padding-bottom: 34px;
}
.price_text{
    grid-column:1/2;
    grid-row:2/3;
   
    font-style: normal;
    font-weight: normal;
    font-size: var(--fs);
    line-height: 25px;
    color: #4A4F53;
    width: 815px;
}
.price_text p {
    margin-bottom: 10px;
}
.price_image{
    text-align: center;
    grid-column: 2/3;
    grid-row: 1/3;
  
}
.price_image_img{
    width: 486px;
    height: 325px; 
}


#collapse_Content{
    display: contents;
}
#collapse_Content_visible{
    display: contents;
}
#showMore_button{
    display: none;
    color:#3E41DE;
}

/*STEPS TOP*/

.stepsTop{
    max-width: var(--mw);
    margin: auto;
    padding-top: 120px;
    padding-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: max-content 1fr;
    
}
#stepsTop_title{
    grid-column: 1/8;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 41px;
    display: flex;
    align-items: center;
    margin-bottom: 60px;
    color: #4A4F53;
   
}

.stepsTop_item{
    display: flex;
    flex-direction: column;
    font-style: normal;
    font-weight: normal;
    font-size: var(--fs);
    line-height: 21px;
    text-align: center;
    color: #4A4F53;
    text-align: center;
    width: 315px;
  
}

.stepsTop_item_img{
    display: block;
    height: 125px;
    width: 125px;
    align-self: center;
    margin-bottom: 35px; 
}

.stepsTop_Arrow{

    height: 28px;
    width: 48px;
    margin: auto;
    background-image: url(../img/Arrow.svg);
    align-self: center;
    margin-bottom:110px;     
}


/*STEPS BOT*/
.stepsBot{
    display: flex;
    flex-direction: column;
    max-width: 1070px;
    padding-top: 60px;
    margin: auto;
}
.stepsBot_item_numb{
    width: 100px;
    height: 150px;
}
.stepsBot_item_img{
    margin-right: none;
    padding: none;
    margin-left: 55px;
    margin-top: -105px;
    width: 105px;
    height: 105px; 
    
}

.stepsBot_item{
    display: flex;
    flex-direction:row;
    margin-bottom: 115px;
}
.stepsBot_item_content{
    margin-left: 67px;
    
}
.stepsBot_item_icon{
    
    width: 200px;
}
.stepsBot p{
    font-style: normal;
    font-weight: normal;
    font-size: var(--fs);
    line-height: 21px;
    color: #4A4F53;
}
.stepsBot h2{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #4A4F53;
    margin-bottom: 30px;
}

.stepsBot_item_Button{
    width: 310px;
    height: 60px;
    background: #3E41DE;
    border-radius: 9px;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-left: 255px;
}
.stepsBot_item_Button:hover{
    background:#2292F9;
}
.stepsBot_item_Button:active{
    background:#2292F9;
    box-shadow: inset 0px 6px 6px rgba(0, 0, 0, 0.25);
}

/*SITUITION*/

.situation{
    max-width: var(--mw);
    margin: auto;
    padding-left: 37px;
    padding-right: 37px;
}
.arr{
    display: flex;
    flex-direction: row;
    width: 1365px;
    padding-top: 90px;
    margin-bottom: 90px;
}
#arr_group{
    margin-left: auto;
}
.situation_Container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 }
.situation h2{
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 41px;
    color: #4A4F53;
    
    
}

.situation_item{
    display: grid;
    grid-template-columns: 1fr 210px;
    grid-template-rows: 1fr 150px;
    padding: 32px;
    width: 650px;
    height: 400px;
    background: #FDFEFF;
    box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.05);
    border-radius: 9px;
   
}

.situation_item_img{
    grid-row: 2/3;
    grid-column: 2/3;
}
.situation_item_img img{
    width: 180px;
    height: 120px;
}
.situation_item_content{
    grid-row: 1/2;
    grid-column: 1/2;
    
   
}
.situation_item_content h3{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #4A4F53;
    margin-bottom: 16px;
}
.situation_item_content p{
    font-style: normal;
    font-weight: 300;
    font-size: var(--fs);
    line-height: 26px;
    color: #4A4F53;
}

.situatin_item_button{
    grid-row: 2/3;
    grid-column: 1/2;
}
.situatin_item_button button:hover{
    background: #3E41DE;
    color: white;
}
.situatin_item_button button:active{
    box-shadow: inset 0px 6px 6px rgba(0, 0, 0, 0.25);
    color: white;
}
.situatin_item_button_style{
    width: 196px;
    height: 60px;
    border: 1px solid #3E41DE;
    box-sizing: border-box;
    border-radius: 9px;
    font-style: normal;
    font-weight: 500;
    font-size: var(--fs);
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    background-color: white;
    color: #3E41DE;

}


/*SERVICE*/

.service{
    max-width: var(--mw);
    margin: auto;
    margin-top: 120px;
    padding-bottom: 120px;
}
.service h2{
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 41px;
    color: #4A4F53;
    
}
.service_container{
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
.service_item{
    display: flex;
    flex-direction: column;
    width: 327px;
    height: 475px;
    padding: 30px 30px 0 30px;
    margin: 0 32px;
    background: #FFFFFF;
    box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.05);
    border-radius: 9px;
}
.service_item:hover{
    border: 1px solid #3E41DE;
    border-radius: 10px;
}
.service_item h3{
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #4A4F53;
    margin-top: 30px;
    margin-bottom: 16px;
}
.service_item p{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: var(--fs);
    color: #4A4F53;
}
.service_item_icon{
    width: 65px;
    height: 65px;
}
.service_item_img{
    width: 315px;
    height: 164px;
    margin: auto auto 0px -30px;
}

/*question*/

.bg2{
    background-image: url('../img/Convers_2_BG\ 1.png');
    height: 400px;
}
.question{
    max-width: var(--mw);
    margin: auto;
    padding: 60px 0px 120px 0px;
}
.question_content h2{
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 42px;
    color: #FFFFFF;
    
}

.question_content h3{
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 41px;
    color: #FFFFFF;
    margin: 20px auto;
}

.question_form{
    
    margin-top: 50px;
    display: flex;
    flex-direction: row;
}
.question_form_input{
    height: 60px;
    width: 440px;
    background: #E7EDFB;
    border-radius: 9px;
    font-family: 'Roboto',sans-serif; 
    font-style: italic;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #4A4F53;
    padding: 22px 30px;
    margin-right: 60px;
}
.question_form_button{
    width: 375px;
    height: 60px;
    background: #FFFFFF;
    border-radius: 9px;
    font-style: normal;
    font-weight: bold;
    font-size: var(--fs);
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #3E41DE;
    margin-left: 65px;
}
.question_form_button:hover{
    box-shadow: inset 0px 6px 6px rgba(0, 0, 0, 0.25);
}
/*service list*/


.service_list{
    max-width: var(--mw);
    margin: 90px auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: space-between;
}

.service_list_item{
    display: flex;
    flex-direction: row;
    
}

#zakaz_icon{
    background: url(../img/DOC_online_icon.svg); 
}
#zapis_icon{
    background: url(../img/Poda4a_polu4enie_icon.svg); 
}
#question_icon{
    background: url(../img/Serv_Qwestion_icon.svg); 
}
#How_icon{
    background: url(../img/Serv_status_zak_icon.svg); 
}

#zakaz_icon,
#zapis_icon,
#question_icon,
#How_icon{
    display: block; 
    width: 100px; 
    height: 100px; 
    background-position: -20px -20px ;
}
#zakaz_icon:hover,
#zapis_icon:hover,
#question_icon:hover,
#How_icon:hover{
    background-position: -138px -20px; /* Смещение фона */  
}
#zakaz_icon:active,
#zapis_icon:active,
#question_icon:active,
#How_icon:active:active{
    background-position: -256px -20px; /* Смещение фона */
}

.service_list_item p{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #4A4F53;
    margin-left: 25px;
    margin-top: 20px;
    width: 190px;
}

/*FOOTER*/

footer{
    background-color:  #4A4F53;
    padding-top: 80px;
    
}
.footer_top, 
.footer_bot{
    max-width: var(--mw);
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr); 
    justify-content: space-between;
}
.footer_bot{
    grid-template-columns: 250px 445px 271px 190px;   
}


.footer_top_item{
    width: 325px;
      
}
.footer_top_item h3{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.02em;
    color: #E7EDFB;
    margin-bottom: 40px;
}
.footer_top_item li{
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: var(--fs);
    color: #A4ABB1;
    margin-bottom:16px ;
}

.footer_bot_item{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #A4ABB1;
}

#logo_img{
    margin-right: 120px;
}
.footer_bot_item img{
    margin-left:  20px;
}


/*hr*/
hr{
  height: 2px;
  border: 0;
  background-color: #C4C4C4;
  margin: 50px auto;
  width: var(--mw);
}
.menu_icon {
	display: none;
}

@media (max-width: 1440px) { 
    .bg1{background-color: white;}
    .bg20{background-color: white;}

    
    html{
        --mw: 768px;
        --fs: 16px;
    }
    .top_title{
        max-width: 768px;
        height: auto;
        
        margin:auto;
    }
  
    nav{
        display: grid;
        grid-template-columns: repeat(6,auto);
        grid-template-rows: repeat(2,1fr);
        padding-left:  20px;
        padding-right: 20px;
    }
    .nav-link{
        font-size: 15px;
        line-height: 17px;
        white-space: nowrap;
        
        padding-top: 30px;
    }
    #nav_logo{
        grid-column: 1/4;
        grid-row: 1/2;
         width: 186px;
     
    }
    #search_link{
        grid-column: 4/7;
        grid-row: 1/2;
        display: inline-block;
        margin-left: auto;     
    }
    .subNav{
        padding-left:  20px;
        padding-right: 20px;
    }
    .price{
        grid-template-columns: 1fr 260px;
        padding-left:  30px;
        padding-right: 30px;
    }
    .price_title{
        grid-column: 1/3;
        grid-row: 1/2;
        font-size: 28px;
    }
    .price_text{
        grid-column: 1/2;
        grid-row: 2/3;
        width: auto;
    }
    .price_image {
        grid-column: 2/3;
        grid-row: 2/3;
        text-align: left;
    }  
    
    .price_image_img{
        width: 260px;
        height: 170px;
    }
    #collapse_Content{
        display: none;
    }
    #showMore_button{
        display: contents;
    }
    .stepsTop_Arrow{
        background-image: url(../img/Mobile.svg);
        width: 370px;
        margin-bottom: 5px;
        background-position: 0% 0%;
        background-repeat: no-repeat;
        
    }
   .stepsTop{
       display: flex;
       flex-direction: column;
       padding-left: 30px;
       padding-top: 20px;
   }
    .stepsTop_item{ 
        display: flex;
        flex-direction: row;
        width: 370px;
        height: auto;
        margin: auto;
        font-family: 'Ubuntu',sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        color: #4A4F53;
        text-align: left; 
    }
    #stepsTop_title h2{
        font-size:22px;
    }
    .stepsTop_item_img{
        width: 48px;
        height: 48px;
        margin-right: 18px;
        margin-bottom: 5px;
    }
    /*************************************************************/
    .stepsBot{
        padding-left: 30px; 
        width: 740px;
    }
    .stepsBot_item_numb{
        width: 63px;
        height: 77px;
    }
    .stepsBot_item_img{
        margin-left: 35px;
        margin-top: -50px;
        width: 48px;
        height: 48px; 
    }
    .stepsBot_item{ 
        margin-bottom: 40px; 
    }
   
    .stepsBot_item_icon{ 
        width: 90px;
     
    }
    .stepsBot_item_content{
        margin-left: 24px;
        
    }
    .stepsBot h2{
        font-size: 18px;
        margin-bottom: 24px;
    }
    
    .stepsBot_item_Button{
        width: 328px;
        height: 50px;
        margin-left: 100px;
    }
    /************************************************************/
    .situation{
        padding-left: 37px;
        padding-top: 20px;
    }
   
    .arr{
        display: flex;
        flex-direction: row;
        width: 690px;
        padding-top: 10px;
        margin-bottom: 30px;
    }
    #arr_group{
        align-items: flex-end;
    }

    .situation h2{
        font-size: 22px;
        padding-left: 37px;
    }
    .situation_item{
        grid-template-columns: 280px;
        grid-template-rows: auto;
        
        padding-top: 70px;
        width: 325px;
        height: 500px;   
        
    }
    .situation_item_img{
        grid-row: 1/2;
        grid-column: 1/2; 
        
    }
    .situation_item_img img{
        width: 140px;
        height: 93px;
        margin-bottom: 24px; 
       
    }
    .situation_item_content{
        grid-row: 2/3;
        
    }
    
    .situation_item_content h3{
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        color: #4A4F53;
        margin-bottom: 16px;
       
    }
    
    
        
    .situatin_item_button{
        margin-top: auto;
        grid-row: 3/4;
    }
    .situatin_item_button_style{
        width: 267px;;
        height: 50px;
    }

/***********************************************************/


.service{
    margin-top: 90px;
    padding-bottom: 90px;
    padding-left: 37px;
}
.service h2{
    font-size: 22px;
}

.service_item{
    display: flex;
    flex-direction: column;
    width: 315px;
    height: 475px;
    padding: 30px 30px 0 30px;
    margin: auto;
}





 /************************************************************/
        
    .question{
        padding: 40px 30px 60px 30px;
    }
    .question_content h2{   
        font-weight: bold;
        text-align: center;
    }

    .question_content h3{
        font-style: normal;
        font-weight: 500;
        text-align: center;
        font-size: 20px;
        margin: 8px auto 30px auto;
    }

    .question_form{
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
    }
    .question_form_input{
        height: 50px;
        width: 320px;
        background: #E7EDFB;
        margin-bottom: 20px;
    }
    .question_form_button{
        width: 315px;
        height: 50px;
        grid-column: 1/3;
        margin: auto;  
    }
    /**********************************************/
    .service_list{
       
        margin: 90px auto;
        padding: 0px ;
        grid-template-columns: repeat(2,1fr);
        grid-template-columns: repeat(2,1fr);
        justify-content: space-between;
    }
    .service_list_item{
        width: 315px;
        margin: 30px;
    }
    .service_list_item p{
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 28px;
        color: #4A4F53;
        margin-left: 25px;
        margin-top: 20px;
        width: 190px;
    }
    /**********************************************************/
    footer{
        padding: 37px;
        padding-top: 26px;  
    }
    .footer_top, 
    .footer_bot{
        display: grid;
        grid-template-columns: repeat(2,1fr); 
        grid-template-columns: repeat(2,1fr); 
        justify-content: space-between;
    }
 
    
    
    .footer_top_item{
        width: 315px;
          
    }
    .footer_top_item h3{
        margin-bottom: 20px;
    }
    .hidden{
        display: none;
    }
    hr{
        height: 2px;
        border: 0;
        background-color: #C4C4C4;
        
        width: 710px;
      }
    
 }
/*
 .situation_item1{
     display: none;
 }
*/
 @media (max-width: 768px) { 
    .bg1{
        background-color: #F9FAFE;
        height: 70px;
        padding-top: 20px;
    }
    html{
        --mw: 767px;
        --fs: 16px;
    }
    .hidden_mobile{
        display: none;
    }
    .menu_icon {
        max-width: 768px;
        padding-left:  20px;
        padding-right: 20px;
        display: flex;
        justify-content: space-between;
    }
    .subNav{
        padding-top: 20px;
    }
    .top_title{
        display: none;
    }
    #nav_logo{
        display: none;
    }
    #nav_logo_mobile{
        width: 186px;
    }
  
    nav{
        display: flex;
        flex-direction: column;
        padding-left:  20px;
        padding-right: 20px;
        background-color: #F9FAFE;
    }
    nav a:after {
        display: none;
    }
    .nav-link:hover{
        text-decoration: underline;
    }
    #search_link{
        margin-left: 0px;   
    }
  
    .subNav{
        padding-left:  20px;
        padding-right: 20px;
        width: auto;
        overflow: hidden;
        margin: 0px;
        white-space: nowrap;
    }

    .price{
        grid-template-columns: 1fr;
        padding-left:  30px;
        padding-right: 30px;
    }
    .price_title{
        grid-column: 1/2;
        grid-row: 1/2;
        font-size: 28px;
    }
    .price_text{
        grid-column: 1/2;
        grid-row: 3/4;
        width: auto;
    }
    .price_image {
        grid-column: 1/2;
        grid-row: 2/3;
        text-align: left;
    }  
    
  /**STEPS TOP*/
    .stepsTop_Arrow{
        background-image: url(../img/Mobile.svg);
        width: 100%;
        margin-bottom: 5px;
        background-position: 0% 0%;
        background-repeat: no-repeat;
        
    }
    #stepsTop_title h2{
        font-size:22px;
    }
   .stepsTop{
       display: flex;
       flex-direction: column;
       padding-left: 30px;
   }
    .stepsTop_item{ 
        display: flex;
        flex-direction: row;
        width: auto;
        height: auto;
        margin-left: 0;
        margin-right: auto;
        font-family: 'Ubuntu',sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        color: #4A4F53;
        text-align: left; 
    }
   
    .stepsTop_item_img{
        width: 48px;
        height: 48px;
        margin-right: 18px;
        margin-bottom: 5px;
    }
    /*************************************************************/
    /**STEPS BOT*/
    .stepsBot{
        padding-left: 10px;
        padding-right: 10px;
        width: auto;
    }

    .stepsBot_item{ 
        flex-direction: column;
    }
   

    .stepsBot_item_content{
        margin-left: auto;       
    }
    .stepsBot_item_Button{
        width: 100%;
        height: 50px;
        margin-left: auto;
    }
    /************************************************************/
    .situation{
        padding: 10px;
        margin: AUTO;
        width: auto;
      
    }
    .arr{
        display: flex;
        flex-direction: column;
        width: auto;
       
    }
  
    .situation h2{
        font-size: 22px;
        padding-left: 10px;
    }
    .situation_item{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        padding-top: 70px;
        width: 100%;
        height: 500px;   
        
    }
    .situation_item_img{
        grid-row: 1/2;
        grid-column: 1/2; 
        
    }
    .situation_item_img img{
        width: 140px;
        height: 93px;
        margin-bottom: 24px; 
       
    }
    .situation_item_content{
        grid-row: 2/3;
    }
            
    .situatin_item_button{
        margin-top: auto;
        grid-row: 3/4;
    }
    .situatin_item_button_style{
        width: 100%;
        height: 50px;
    }

/***********************************************************/


.service{
    padding-top: 10px;
    padding-bottom: 40px;
    padding-left: 10px;
}
.service h2{
    font-size: 22px;
    
}

.service_item{
    display: flex;
    flex-direction: column;
    width: 315px;
    height: 475px;
    padding: 30px 30px 0 30px;
    margin: auto;
}



 /************************************************************/
        
    .question{
        padding: 40px 20px 60px 20px;
        height: auto;
    }
    .question_content h2{   
        font-weight: bold;
        text-align: left;
    }

    .question_content h3{
        font-style: normal;
        font-weight: 500;
        text-align: left;
        font-size: 20px;
        margin: 8px auto 30px auto;
    }
    .bg2{
        height: auto;
    }
    .question_form{
        margin-top: 50px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3,1fr);
    }
    .question_form_input{
        height: 50px;
        width: 100%;
        background: #E7EDFB;
        margin-bottom: 20px;
    }
    .question_form_button{
        width: 100%;
        height: 50px;
        grid-column: 1/2;
        margin: auto;  
    }
    /**********************************************/
    .service_list{
       
        margin: 90px auto;
        padding: 0px ;
        grid-template-columns: 1fr;
        
        justify-content: space-between;
    }
    .service_list_item{
        width: 315px;
        margin: 30px;
    }
    .service_list_item p{
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 28px;
        color: #4A4F53;
        margin-left: 25px;
        margin-top: 20px;
        width: 190px;
    }
    /**********************************************************/
    footer{
        padding: 10px;
        padding-top: 26px;  
    }
    .footer_top, 
    .footer_bot{
        display: grid;
        grid-template-columns: 1fr; 
        justify-content: space-between;
    }
 
    .footer_top_item,
    .footer_bot_item{
        width: auto;
    }
    
    #logo_img{
        margin-right: auto;
    }
    .footer_bot_item img{
        margin-left:  auto;
    }
    hr{
        height: 2px;
        border: 0;
        background-color: #C4C4C4;
        
        width: auto;
      }

/********************************************************************************************************************/


    .menu-btn {
        width: 30px;
        height: 30px;
        position: relative;
        z-index:2;
        overflow: hidden;
    }
    .menu-btn span {
        width: 30px;
        height: 2px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #3E41DE;
        transition: all 0.5s;
    }
    .menu-btn span:nth-of-type(2) {
        top: calc(50% - 5px);
    }
    .menu-btn span:nth-of-type(3) {
        top: calc(50% + 5px);
    }
    .menu-btn.active span:nth-of-type(1) {
        display: none;
    }
    .menu-btn.active span:nth-of-type(2) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(45deg);  
    }
    .menu-btn.active span:nth-of-type(3) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(-45deg); 
    }

    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 15px;
        transform: translateX(-100%);
        transition: transform 0.5s; 
    }
    .navbar.active {
        transform: translateX(0);
    }
 }